/* CSS Document */
#nv_review_meta_box label {
	display: block;
}
#nv_review_meta_box .form-group {
	display: table;
	padding-bottom: 1rem;
}
#nv_review_meta_box .form-row {
	display: table-row;
	padding: 1rem;
}
#nv_review_meta_box .form-field {
	display: table-cell;
	padding-right: 2rem;
	vertical-align: bottom;
}
#smLinks .form-row:first-child .btnRemove {
	display: none;
}
