/* CSS Document */
.logo {
	float: left;
	padding-right: 5%;
	max-width: 45%;
}
.entry-header p {
	padding-top: 5px;
}
.description {
	float: left;
	max-width: 50%;
}
.description h2 {
	padding-left: 1.5rem;
	margin-top: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.gallery-item, .address {
	float: left;
}
.gallery-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.entry-content .gallery dd.wp-caption-text.gallery-caption {
	display: none;
}
.themeblvd-gmap {
	float: right;
}
.address h2 {
	margin-top: 0;
}
.address ul {
	list-style: none;
}
.signatureItems {
	clear: both;
}
